#splash {
    width: 100vw;
    height: 100%;
    background-image: url(billeder/splash.png);
    background-size: cover;
    background-position: 35%;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

img {
    width: 100%;
}

p {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 4px;
    font-size: 2rem;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 120px;
    letter-spacing: 2px;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans HK', sans-serif;
    letter-spacing: 1.5px;
}

.tekst_link {
    color: #606060;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: solid 1px;
}

header {
    height: 50px;
    margin-top: 60px;
    text-align: right;
    word-spacing: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.s {
    height: 19px;
    width: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 65%;
}

.left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    align-items: baseline;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 50%;
}


/*****splash tekst*****/

.splash_tekst {
    display: flex;
    flex-wrap: wrap;
    height: 45vw;
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
}

/***    top boks    ***/


#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #c7afaf;
    height: 250px
}

.top_boks {
    border: solid 1px black;
    height: 150px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*****pil*****/

#pil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pil_ned {
    height: 40px;
    width: 50px;
    margin-top: 150px;
}


/*****    om    *****/


#selvportraet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#om_mig {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.om_mig_tekst {
    display: flex;
    text-align: center;
    width: 600px;
    margin-top: 30px;
}


/*****TIDSLINJE*****/

* {
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 90%;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
}

.timeline-block {
    width: calc(50% + 8px);
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #212474;
    margin-top: 10px;
    z-index: 9999
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: black;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
}

.timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #585858;
}


@media screen and (max-width: 768px) {
    .container:before {
        left: 8px;
        width: 2px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}



/*****portfolio*****/


#opgaver {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.mine_opgaver {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.opgave {
    height: 300px;
    width: 300px;
    margin: 10px;
    background-image: url(billeder/styletile.png);
    background-size: cover;
    text-align: center;
}

.opgave1 {
    height: 300px;
    width: 300px;
    margin: 10px;
    background-image: url(billeder/sexogsamfund.png);
    background-size: cover;
    text-align: center;
}

.opgave2 {
    height: 300px;
    width: 300px;
    margin: 10px;
    background-image: url(billeder/dekadent.png);
    background-size: cover;
    text-align: center;
}

.opgave3 {
    height: 300px;
    width: 300px;
    background-color: black;
    margin: 10px;
    background-image: url(billeder/redesign_fronter.png);
    background-size: cover;
    text-align: center;
}

.opgave4 {
    height: 300px;
    width: 300px;
    background-color: black;
    margin: 10px;
    /*    background-image: url(billeder/sexogsamfund.png);*/
    background-size: cover;
    text-align: center;
}

.opgave5 {
    height: 300px;
    width: 300px;
    background-color: black;
    margin: 10px;
    /*    background-image: url(billeder/sexogsamfund.png);*/
    background-size: cover;
}




/***    American magaxine    ***/



#american_magazine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #c6c6c6;
    height: 250px;
}

.top_tekst {
    border: solid 1px black;
    text-align: center;
    width: 450px;
    height: 160px;
}

.tema_tekst {
    display: flex;
    justify-content: center;
}

.top_overskrift {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#om_american {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.text_american {
    width: 400px;
}

.p_american {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.overskrift_dokumentation {
    width: 100%;
    text-align: center;
}

#dokumentation_american {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.dokumentation_tekst {
    display: flex;
    flex-wrap: wrap;

    width: 800px;
    margin: 10px;
    padding: 20px;
    background-color: #eae8e6;
}

.dokumentation_tekst1 {
    display: flex;
    flex-wrap: wrap;

    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #eae8e6;
}

.dokumentation_tekst2 {
    display: flex;
    flex-wrap: wrap;

    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #eae8e6;
}


.dokumentation_billede {
    display: flex;
    flex-wrap: wrap;

    background-color: red;
    margin-top: 30px;
}


/**   sex og samfund   **/


#om_sexogsamfund {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    height: 300px;
}

.text_sexogsamfund {
    width: 400px;
}

.p_sexogsamfund {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#dokumentation_sexogsamfund {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.dokumentation_tekst_sexogsamfund {
    display: flex;
    flex-wrap: wrap;

    background-color: #eae8e6;
    width: 400px;
    height: 500px;
    margin: 10px;
    padding: 20px;
    align-content: flex-start;
}

.dokumentation_tekst_sexogsamfund1 {
    display: flex;
    flex-wrap: wrap;

    background-color: #eae8e6;
    align-content: flex-start;
    width: 400px;
    height: 500px;
    margin: 10px;
    padding: 20px;
}

#link_dokumentation {
    display: flex;
    flex-wrap: wrap;

    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.dokumentatoinssite {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    width: 300px;
}



/***    footer   ***/


#footer {
    background-color: #606060;
    color: #d6d6d6;
    height: 70px;
    display: flex;
    margin-top: 100px;
}

.footer_tekst {
    display: flex;
    margin-left: 50px;
    width: 200px;
    height: 70px;
    justify-content: center;
    padding: 2px;
}

.footer_billede {
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
    margin-left: 50px;
}

.footer_billede_tekst {
    padding: 2px;
    font-size: 0.5px;
    margin-left: 15px;
    margin-right: 300px;
}
